/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

.nav {
  width: 100%;
  height: auto;
  z-index: 99;
}
@media screen and (max-width: 60rem) {
  .nav {
    position: unset;
  }
}
.nav__top {
  background-color: #1f3637;
  color: #ffffff;
  font-size: 0.85em;
  padding: 0rem 2.5rem;
}
@media screen and (max-width: 60rem) {
  .nav__top {
    display: none;
  }
}
.nav__top--wrapper {
  max-width: 65rem;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
}
.nav__top--wrapper ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
.nav__top--wrapper ul li + li {
  margin-left: 1.5rem;
}
.nav__top--wrapper ul li span {
  color: #ffbc27;
}
.nav__top--wrapper ul li a {
  color: #ffffff;
}
.nav__mobile {
  background-color: #1f3637;
  display: none;
}
.nav__mobile.is-displayed {
  display: block;
}
.nav__mobile li + li {
  margin-top: 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.nav__mobile li a {
  display: block;
  padding: 1rem 1rem;
  color: #ffffff;
  text-decoration: none;
}
.nav__main {
  background-color: #ce2029;
  color: #ffffff;
  padding: 1.65rem 2.5rem;
}
@media (max-width: 60rem) {
  .nav__main {
    padding: 1.65rem 1.5rem;
  }
}
.nav__main--wrapper {
  max-width: 65rem;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
.nav__main--wrapper .logo {
  width: 250px;
}
@media screen and (max-width: 60rem) {
  .nav__main--wrapper .logo {
    width: 150px;
  }
}
.nav__main--wrapper .btn-mobile {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #ffffff;
}
@media (min-width: 60rem) {
  .nav__main--wrapper .btn-mobile {
    display: none;
  }
}
.nav__main--wrapper .btn-mobile svg {
  vertical-align: middle;
}
.nav__main--wrapper__links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 60rem) {
  .nav__main--wrapper__links {
    display: none;
  }
}
@media (min-width: 60rem) {
  .nav__main--wrapper__links li + li {
    margin-left: 1.5rem;
  }
}
@media (max-width: 60rem) {
  .nav__main--wrapper__links li {
    display: block;
    padding: 0.85rem 1rem;
  }
}
.nav__main--wrapper__links li a {
  color: #ffffff;
  text-decoration: none;
}

.wrapper {
  display: block;
  width: 100%;
  min-height: 100%;
  margin-top: 0rem;
}
@media screen and (max-width: 60rem) {
  .wrapper {
    margin-top: 0rem;
  }
}
.wrapper__hero {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  padding: 8rem 0rem;
  min-height: 70%;
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper__hero.left {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  text-align: right;
}
.wrapper__hero.left .wrapper__hero--title {
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
}
.wrapper__hero.right {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end;
  text-align: left;
}
.wrapper__hero.right .wrapper__hero--title {
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
}
@media screen and (max-width: 60rem) {
  .wrapper__hero {
    padding: 4.5rem 0rem;
    background-size: cover;
  }
}
.wrapper__hero--title {
  background-color: rgba(35, 31, 32, 0.85);
  color: #ffffff;
  padding: 1.5rem 2.5rem;
  max-width: 40rem;
}
.wrapper__hero--title h1 {
  font-size: 1.5em;
  font-weight: bold;
}
@media screen and (max-width: 60rem) {
  .wrapper__hero--title h1 {
    font-size: 1em;
  }
}
@media screen and (max-width: 60rem) {
  .wrapper__hero--title {
    max-width: 20rem;
  }
}
.wrapper .hero {
  width: 100%;
  padding: 10rem 1.15rem;
  min-height: 60%;
  background-image: url("/images/adult-cheerful-clipboard-1089549.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
@media screen and (max-width: 60rem) {
  .wrapper .hero {
    padding: 4.5rem 1.15rem;
  }
}
.wrapper .hero__inner {
  max-width: 70rem;
  color: #ffffff;
  padding: 2.5rem 2.25rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(35, 31, 32, 0.7);
}
@media (max-width: 60rem) {
  .wrapper .hero__inner {
    padding: 1.35rem 1.85rem;
  }
}
.wrapper .hero__inner h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5em;
}
@media screen and (max-width: 60rem) {
  .wrapper .hero__inner h1 {
    font-size: 1em;
  }
}
.wrapper .hero__inner form {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}
@media (max-width: 60rem) {
  .wrapper .hero__inner form {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media screen and (max-width: 60rem) {
  .wrapper .hero__inner form {
    font-size: 0.86em;
  }
}
.wrapper .hero__inner form label {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.wrapper .hero__inner form > * {
  margin-left: 0.15rem;
}
.wrapper .hero__inner form select {
  width: 100%;
  border: 0;
  padding: 0.95rem 1.45rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 24 24' fill='none' stroke='%23ce2029' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
  background-size: 1.25em;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat;
}
.wrapper .hero__inner form button {
  width: 50%;
  cursor: pointer;
  background-color: #ce2029;
  color: #ffffff;
  border: 0;
  box-shadow: none;
  padding: 0.95rem 1.5rem;
}
@media screen and (max-width: 60rem) {
  .wrapper .hero__inner form button {
    width: 100%;
  }
}
.wrapper .course {
  padding: 3.5rem 2rem;
  max-width: 75rem;
  margin: 1rem auto;
}
@media screen and (max-width: 60rem) {
  .wrapper .course {
    padding: 1rem 1rem;
  }
}
.wrapper .course .tns-outer {
  position: relative;
}
.wrapper .course .tns-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  z-index: 5;
}
.wrapper .course .tns-controls > button {
  background-color: #ffbc27;
  border: 0;
  padding: 0.85rem 0.85rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
}
@media (max-width: 60rem) {
  .wrapper .course .tns-controls > button {
    padding: 0.5rem 0.5rem;
  }
}
.wrapper .course .tns-controls > button svg {
  vertical-align: middle;
}
.wrapper .course .tns-nav {
  display: none;
}
.wrapper .course__inner--box {
  position: relative;
}
.wrapper .course__inner--box__p {
  overflow: hidden;
  min-height: 300px;
  margin: 1rem 1rem;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.wrapper .course__inner--box__p .body__text {
  padding: 1.35rem 1.45rem;
}
.wrapper .course__inner--box__p svg {
  width: 16px;
  height: 16px;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.wrapper .course__inner--box h1 {
  font-size: 1.25em;
  margin-bottom: 1rem;
}
.wrapper .course__inner--box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper .course__inner--box ul li {
  color: #777;
}
.wrapper .course__inner--box ul li + li {
  margin-top: 0.35rem;
}
.wrapper .course__inner--box img {
  display: block;
  width: 100%;
  height: 230px;
  object-fit: cover;
  object-position: center;
}
.wrapper .links {
  background-color: #ce2029;
  color: #ffffff;
  padding: 3.5rem 3.5rem;
}
@media (max-width: 60rem) {
  .wrapper .links {
    padding: 2rem 1.5rem;
  }
}
.wrapper .links__inner {
  max-width: 70rem;
  margin: 1rem auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 60rem) {
  .wrapper .links__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 60rem) {
  .wrapper .links__inner--grid {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
@media (max-width: 60rem) {
  .wrapper .links__inner--grid:last-child {
    margin-top: 2rem;
  }
}
.wrapper .links__inner--grid ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.wrapper .links__inner--grid ul li + li {
  margin-top: 0.5rem;
}
.wrapper .links__inner--grid ul li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.wrapper .contact {
  padding: 3.5rem 2rem;
}
@media (max-width: 60rem) {
  .wrapper .contact {
    padding: 2rem 1.5rem;
  }
}
.wrapper .contact__title {
  max-width: 65rem;
  margin: 0 auto 1.85rem auto;
}
.wrapper .contact__title h1 {
  font-size: 1.55em;
}
.wrapper .contact__inner {
  max-width: 65rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 60rem) {
  .wrapper .contact__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.wrapper .contact__inner h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (max-width: 60rem) {
  .wrapper .contact__inner--grid:last-child {
    margin-top: 1.5rem;
  }
}
@media (min-width: 60rem) {
  .wrapper .contact__inner--grid:last-child {
    margin-left: 3.5rem;
  }
}
.wrapper .contact__inner--grid svg {
  vertical-align: middle;
  margin-right: 0.5rem;
}
@media (min-width: 60rem) {
  .wrapper .contact__inner--grid:first-child {
    -webkit-box-flex: 0.5;
    -moz-box-flex: 0.5;
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
  }
  .wrapper .contact__inner--grid:last-child {
    -webkit-box-flex: 1.5;
    -moz-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
  }
}
.wrapper .contact__inner--grid__p {
  margin-bottom: 1.65rem;
}
@media (min-width: 60rem) {
  .wrapper .contact__inner--grid__p .address {
    margin-left: 10%;
  }
}
.wrapper .contact__inner--grid form {
  position: relative;
}
.wrapper .contact__inner--grid form label {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
.wrapper .contact__inner--grid form input,
.wrapper .contact__inner--grid form textarea,
.wrapper .contact__inner--grid form select {
  border: 2px solid #f0f0f0;
  width: 100%;
  padding: 0.85rem 1rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin-bottom: 1rem;
}
.wrapper .contact__inner--grid form button {
  display: inline-block;
  background-color: #ce2029;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  margin-top: 1.5rem;
  padding: 1rem 2.25rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.wrapper .contact__inner--grid form .form-grid {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.wrapper .contact__inner--grid form .form-grid input:first-of-type,
.wrapper .contact__inner--grid form .form-grid select:first-of-type {
  margin-right: 1rem;
}
@media (max-width: 60rem) {
  .wrapper .contact__inner--grid form .form-grid {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wrapper .contact__inner--grid form .form-grid input:first-of-type,
.wrapper .contact__inner--grid form .form-grid select:first-of-type {
    margin-right: 0rem;
  }
}
.wrapper .faqs {
  padding: 3.5rem 2rem;
  background-color: #f0f0f0;
}
@media (max-width: 60rem) {
  .wrapper .faqs {
    padding: 2rem 1.5rem;
  }
}
.wrapper .faqs__inner {
  max-width: 65rem;
  margin: 0 auto;
}
.wrapper .faqs__inner h1 {
  font-size: 1.5em;
  margin-bottom: 1.25rem;
}
@media (max-width: 60rem) {
  .wrapper .faqs__inner h1 {
    font-size: 1.25em;
  }
}
.wrapper .faqs__inner details {
  line-height: 1.5;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
}
.wrapper .faqs__inner details[open] summary:after {
  content: "-";
  line-height: 0.9;
}
.wrapper .faqs__inner details[open] summary ~ * {
  -webkit-animation: details-flow 500ms ease-in-out;
  animation: details-flow 500ms ease-in-out;
  margin: 0;
}
.wrapper .faqs__inner details summary {
  position: relative;
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  display: block;
  padding: 2rem 0;
}
@media only screen and (max-width: 40em) {
  .wrapper .faqs__inner details summary {
    font-size: 1em;
    padding-right: 1.5rem;
  }
}
.wrapper .faqs__inner details > summary::before,
.wrapper .faqs__inner details[open] summary:before {
  content: "";
  width: 0 !important;
}
.wrapper .faqs__inner details summary:after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  margin-right: 1em;
  color: #ce2029;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
}
.wrapper .faqs__inner details summary::-webkit-details-marker {
  display: none;
}
.wrapper .faqs__inner details > summary:first-of-type {
  list-style-type: none;
}
.wrapper .faqs__inner details .inner__details {
  padding: 1.5rem 0;
}
.wrapper .course__inner {
  max-width: 70rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 60rem) {
  .wrapper .course__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.wrapper .course__inner--grid:first-child {
  width: 65%;
}
.wrapper .course__inner--grid:last-child {
  width: 35%;
}
@media (max-width: 60rem) {
  .wrapper .course__inner--grid {
    width: 100% !important;
  }
}
.wrapper .course__inner--grid h1 {
  font-size: 1.3em;
  margin-bottom: 1rem;
  color: #161616;
}
.wrapper .course__inner--grid .body__text {
  color: #777;
  padding: 1.5rem 1.65rem;
}
@media (max-width: 60rem) {
  .wrapper .course__inner--grid .body__text {
    padding: 1rem 1rem;
  }
}
.wrapper .course__inner--grid .flex {
  margin-top: 1.5rem;
}
.wrapper .course__inner--grid .flex-table {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 60rem) {
  .wrapper .course__inner--grid .flex-table {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.wrapper .course__inner--grid .flex-table--inner {
  margin-bottom: 1rem;
}
.wrapper .course__inner--grid .flex-table--inner h2 {
  font-size: 1.05em;
  color: #161616;
}
.wrapper .course__inner--grid .flex-table--inner:first-child {
  width: 20%;
}
.wrapper .course__inner--grid .flex-table--inner:last-child {
  width: 80%;
}
@media (max-width: 60rem) {
  .wrapper .course__inner--grid .flex-table--inner {
    width: 100% !important;
  }
}
.wrapper .course__inner--grid__sidebar {
  padding: 1.5rem 1.65rem;
}
@media (max-width: 60rem) {
  .wrapper .course__inner--grid__sidebar {
    padding: 1rem 1rem;
  }
}
.wrapper .course__inner--grid__sidebar h2 {
  font-size: 1.05em;
  color: #ffffff;
  background-color: #231f20;
  padding: 1rem 1rem;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
}
.wrapper .course__inner--grid__sidebar .body__sidebar {
  position: relative;
  background-color: #f0f0f0;
  padding: 1.25rem 1.45rem;
}
.wrapper .course__inner--grid__sidebar .body__sidebar * + * {
  border-top: 1px solid #ccc;
  margin-top: 0.65rem;
}
.wrapper .course__inner--grid__sidebar .body__sidebar--inner {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.45rem 0;
}
@media (max-width: 60rem) {
  .wrapper .course__inner--grid__sidebar .body__sidebar--inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}
.wrapper .course__inner--grid__sidebar .body__sidebar--inner button {
  background-color: #ce2029;
  color: #ffffff;
  border: 0;
  box-shadow: none;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.wrapper .catalogue {
  padding: 3.5rem 3.5rem;
}
@media (max-width: 60rem) {
  .wrapper .catalogue {
    padding: 2rem 1.5rem;
  }
}
.wrapper .catalogue__title {
  max-width: 65rem;
  margin: 0 auto 1.5rem auto;
}
.wrapper .catalogue__title h1 {
  font-size: 1.45em;
}
.wrapper .catalogue__inner {
  max-width: 65rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 60rem) {
  .wrapper .catalogue__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-width: 60rem) {
  .wrapper .catalogue__inner > * + * {
    margin-left: 1.25rem;
  }
}
@media (max-width: 60rem) {
  .wrapper .catalogue__inner > * + * {
    margin-top: 1.5rem;
  }
}
.wrapper .catalogue__inner--grid {
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -ms-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  -o-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
}
.wrapper .catalogue__inner--grid img {
  display: block;
  width: 100%;
  height: 130px;
  object-fit: cover;
  object-position: center;
}
.wrapper .catalogue__inner--grid .body__text {
  padding: 0.85rem 1rem;
}
.wrapper .cataloguemore {
  padding: 3.5rem 3.5rem;
  background-color: #f0f0f0;
}
@media (max-width: 60rem) {
  .wrapper .cataloguemore {
    padding: 2rem 1.5rem;
  }
}
.wrapper .cataloguemore__inner {
  max-width: 65rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 60rem) {
  .wrapper .cataloguemore__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.wrapper .cataloguemore__inner > div {
  -webkit-flex-basis: 49%;
  -moz-flex-basis: 49%;
  -ms-flex-basis: 49%;
  flex-basis: 49%;
}
@media (max-width: 60rem) {
  .wrapper .cataloguemore__inner > div {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
  }
}
.wrapper .cataloguemore__inner--grid {
  position: relative;
  width: 100%;
  min-height: 300px;
  margin-bottom: 1rem;
}
.wrapper .cataloguemore__inner--grid img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.wrapper .cataloguemore__inner--grid .title-displayed {
  position: absolute;
  width: 100%;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  text-align: center;
}
.wrapper .cataloguemore__inner--grid .title-displayed h2 {
  text-transform: uppercase;
}

.footer {
  padding: 1.5rem 2rem;
  background-color: #f0f0f0;
}
@media (max-width: 60rem) {
  .footer {
    padding: 2rem 1.5rem;
  }
}
.footer__inner {
  max-width: 70rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
@media (max-width: 60rem) {
  .footer__inner {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}
.footer__inner--social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__inner--social li + li {
  margin-left: 1.5rem;
}
.footer__inner--social li a {
  width: 35px;
  height: 35px;
  display: block;
  padding: 0.5rem 0.65rem;
  background-color: #231f20;
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.footer__inner--social li a i {
  color: #ffffff;
  vertical-align: text-top;
}
.footer__inner--links {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@media (max-width: 60rem) {
  .footer__inner--links {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2.5rem !important;
  }
}
.footer__inner--links li {
  text-align: left;
}
@media (max-width: 60rem) {
  .footer__inner--links li + li {
    margin-top: 1rem;
    margin-left: 0rem;
  }
}
@media (min-width: 60rem) {
  .footer__inner--links li + li {
    margin-left: 1.5rem;
    margin-top: 0rem;
  }
}
.footer__inner--links li a {
  color: #444444;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
