$primary-color: #ce2029;
$secondary-color: #ffbc27;
$tertiary-color: #1f3637;

$black-medium: #231f20;
$black-high: #161616;

$white: #ffffff;

$grey-light: #f0f0f0;
$grey-medium: #919191;
$grey-high: #777;

$body-font: "Inter", sans-serif;
